{{> navbar }}

<h2>Form 2: Education</h2>
<form action="/submit" method="POST">
  <label>Degree:</label><input type="text" name="degree"><br>
  <label>College:</label><input type="text" name="college"><br>
  <button type="submit">Submit</button>
</form>
